
<div class="main-header">
  <div class="main-room">
    <div class="chat-name">RoomName</div>
  </div>

  <div class="chat-end">
    <div class="end-btn"><a href="#">チャットを終了する</a></div>
  </div>
</div>

<div class="main-chat">
  <div class="messages">
    <div class="user-date">
      <div class="name">五条悟</div>
      <div class="day">2022/3/14(Mon)1:40:00</div>
    </div>
    <div class="message-date">
      <div class="message">お腹すいたー！！！！</div>
    </div>
  </div>

  <div class="messages">
    <div class="user-date">
      <div class="name">伏黒恵</div>
      <div class="day">2022/3/14(Mon)1:43:00</div>
    </div>
    <div class="message-date">
      <div class="message">うるせぇ</div>
    </div>
  </div>
</div>

<div class="main-footer">
<div class="form">
  <input type="text" placeholder="type a message" class="text">
  <label class="image">
    <span class="img">画像</span>
    <input type="file" class="img-file">
  </label>
</div>
  <input type="submit" value="送信" class="send">

<div>